<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <title>Parrot Wings</title>
    @Styles.Render("~/css/materialize")
</head>
<body>    
    <div class="container">
        @RenderBody()
    </div>
        @Scripts.Render("~/js/jquery")
        @Scripts.Render("~/js/lib")
</body>
</html>
