@{Layout = null;}
<h3 class="appcolor-text">Dashboard</h3>
<p>Available actions:</p>
<div class="row">
    <div class="col s12 m6">
        <ul class="collection">
            <li class="collection-item"><button data-model-action="transactions" class="btn btn-large appcolor fullwidth">Transactions</button></li>
            <li class="collection-item"><button data-model-action="logout" class="btn btn-large appcolor fullwidth">Logout</button></li>
        </ul>
    </div>
</div>