@{Layout = null;}
<h3 class="appcolor-text">Register new user</h3>
<div class="row">
    <div class="col s12 m6 input-field">
        <input type="text" name="Name" value="" />
        <label for="Name">Name</label>
    </div>
    <div class="col s12 m6 input-field">
        <input type="email" name="Email" value="" />
        <label for="Email">Email</label>
    </div>
</div>
<div class="row">
    <div class="col s12 m6 input-field">
        <input type="password" name="Password" value="" />
        <label for="Password">Password</label>
    </div>
    <div class="col s12 m6 input-field">
        <input type="password" name="PasswordConfirm" value="" />
        <label for="PasswordConfirm">Confirm</label>
    </div>
</div>
<div class="row">
    <div class="col s12 offset-m4 m4">
        <button class="btn btn-large appcolor fullwidth">Register</button>
    </div>
</div>