@{Layout = null;}
<div class="card">
    <div class="card-content appcolor-text">
        <span class="card-title">{{Operation}}</span>
        <p>            
            {{From/To}}: {{Person}}<br />
            PW: {{OperationSign}}{{PW}}<br />
            When: {{When}}<br />
            <hr />
            Total: {{Total}}
        </p>
    </div>
</div>