<nav>
    <div class="nav-wrapper">
        <div class="brand-logo center"><img src="~/Client/img/icon.png" width="64" /><span data-model-pw-balance=""></span></div>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li data-model-user-name=""></li>
            <li data-action-trasactions=""></li>
        </ul>
    </div>
</nav>
<div class="screen">
</div>